<!-- <div class="col-4"> -->
<div class="item">
    <% for (let x = 0; x < bracket.length; x++) { %>
        <div class="border border-dark rounded">
            <p class="add">Game: <%= bracket[x].game %> <br> <%= bracket[x].white %> <br> vs <br> <%= bracket[x].black %></p>
        </div>
        <br>
    <% } %>
</div>